/*
    PURPOSE : Main - controlling the events
    
    DATE : 30/03/2018
    
    Java Assignment - topic analyser

*/



package File;

import java.util.*;

public class Control
{
    public static void main(String[] args)
    {

        //open and read the file
        Read_file fileReader = new Read_file("something.txt");
        fileReader.openFile();
        fileReader.readLine();

       // System.out.println("line 2 prints" +line2);

    }
}
